.wraper_header_top {
    background-color: #003362;
    width: 100%;
}

.loempia_app_entry_bottom, .loempia_app_entry_bottom h5{
    font-family: "Inter", sans-serif !important;
    /* font-weight: 600; */
}

#loempia_navbar {
    position: relative;
    z-index: 0;
    padding: 10px 0;
    transition: padding 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    background-color: #191c64;

    .loempia_btn_modules {
        margin: 0 10px 0 0;
    }

    .loempia_btn_modules .fa {
        padding-left: 2px;
    }

    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #FFFFFF;
        background-clip: padding-box;
        border: 1px solid #CED4DA;
        border-radius: 0.1875rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .search-query {
        color: white;
        font-weight: bolder;
        box-shadow: none;
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        letter-spacing: 0;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    }

    .search-query::-moz-placeholder {
        color: rgba(255, 255, 255, 0.8);
        opacity: 1;
    }

    .search-query:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.8);
    }
}

.loempia_app_entry .loempia_panel_summary {
    display: block;
    padding: 8% 15px;
    color: #fff;
    text-shadow: 0 1px 0 black;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: auto;
    transition: transform 350ms cubic-bezier(0.55, 0, 0.1, 1) 0ms, opacity 700ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
    transform: translate(0, 100%);
    opacity: 0;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.loempia_app_entry:hover .loempia_panel_summary {
    transform: translate(0, 0);
    opacity: 1;
}

.loempia_app_entry:hover .loempia_panel_summary+.loempia_app_entry_icon {
    opacity: 0;
}

.loempia_app_entry>a {
    display: block;
    position: relative;
    margin-bottom: 10%;
}

.loempia_app_entry .loempia_app_entry_top {
    position: relative;
    overflow: hidden;
    margin-bottom: 3%;
}

.loempia_app_entry .loempia_app_entry_top>.img {
    background: white no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
}

.loempia_app_entry .loempia_app_entry_icon {
    background-color: white;
    border-radius: 3px;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: auto;
    right: auto;
    transition: opacity 350ms cubic-bezier(0.55, 0, 0.1, 1) 0s;
}

.loempia_app_entry .loempia_app_entry_bottom {
    color: #003362;
    min-height: 88px;
}

.loempia_app_entry .loempia_app_entry_bottom h5,
.loempia_app_entry .loempia_app_entry_bottom .h5 {
    width: 100%;
    margin: 0 0 6px;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.loempia_app_entry .loempia_app_entry_bottom .loempia_panel_price {
    padding-left: 0;
    font-size: 0.9375rem;
    line-height: 1.125rem;
}

.loempia_app_entry .loempia_app_entry_bottom .loempia_panel_author {
    padding-right: 5px;
    font-size: 0.75rem;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.loempia_app_entry .loempia_app_entry_bottom .loempia_rating_stars {
    font-size: 12px;
}

.loempia_app_card>a {
    background-color: white;
    will-change: transform;
    transform-origin: center bottom;
    transition: all 0.35s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}

.loempia_app_card:hover>a {
    box-shadow: 0 10px 9px -8px rgba(0, 0, 0, 0.3);
    transition: all .3s ease 0s;
    transform: scale(1.0125);
    text-decoration: none;
}

.loempia_app_card .loempia_app_entry_top {
    padding-bottom: 50%;
    border-radius: 2px 2px 0 0;
}

.loempia_app_card .loempia_app_entry_bottom {
    padding: 9px;
    padding-top: 0;
}

.loempia_app_card .loempia_app_entry_bottom h5,
.loempia_app_card .loempia_app_entry_bottom .h5 {
    margin: 0 0 10px;
}

.loempia_themes_row {
    margin: auto-30px;
}

.loempia_theme_card .loempia_app_entry_top {
    border: 1px solid #d7dde2;
    border-radius: 3px;
    padding-top: calc(120% + 21px);
    will-change: transform;
    transform-origin: center bottom;
    transition: all 0.35s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}

.loempia_theme_card .loempia_app_entry_top .o_browser_bar {
    background: white;
    border-bottom: 1px solid #d7dde2;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: auto;
}

.loempia_theme_card .loempia_app_entry_top .o_browser_bar:before {
    content: "•••";
    display: block;
    padding-left: 10px;
    color: #fff;
    font: 12px/20px Courier, monospace;
    letter-spacing: -1px;
}

.loempia_theme_card .loempia_app_entry_top>.img {
    height: calc(100% - 20px);
    top: 20px;
}

.loempia_theme_card .loempia_app_entry_top .loempia_app_entry_icon {
    top: 30px;
}

.loempia_theme_card .loempia_app_entry_top .loempia_panel_summary {
    top: 20px;
}

.loempia_theme_card .loempia_app_entry_top:hover {
    box-shadow: 0 10px 9px -8px rgba(0, 0, 0, 0.3);
    transition: all .3s ease 0s;
    transform: scale(1.0125);
}

.loempia_theme_card .loempia_app_entry_top.loempia_cover .img {
    background-color: white;
    background-size: contain;
}

.loempia_theme_card .loempia_app_entry_bottom {
    padding: 0;
    min-height: 56px;
}

.loempia_nocover {
    background: linear-gradient(-15deg, #c2b7be 30%, #c2b8b7 70%) !important;
}

.loempia_nocover:before {
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    content: '';
    background-image: url("/static/src/images/card_bg.png");
}

.loempia_nocover.o_apps_category_localization {
    background: linear-gradient(-15deg, #c2b7bb 30%, #c2bcb7 70%) !important;
}

.loempia_nocover.o_apps_category_ecommerce {
    background: linear-gradient(-15deg, #c2b7b7 30%, #c2bfb7 70%) !important;
}

.loempia_nocover.o_apps_category_human_resources {
    background: linear-gradient(-15deg, #c2bbb7 30%, #c1c2b7 70%) !important;
}

.loempia_nocover.o_apps_category_industries {
    background: linear-gradient(-15deg, #c2beb7 30%, #bdc2b7 70%) !important;
}

.loempia_nocover.o_apps_category_document_management {
    background: linear-gradient(-15deg, #c2c2b7 30%, #bac2b7 70%) !important;
}

.loempia_nocover.o_apps_category_extra_tools {
    background: linear-gradient(-15deg, #bec2b7 30%, #b7c2b8 70%) !important;
}

.loempia_nocover.o_apps_category_accounting {
    background: linear-gradient(-15deg, #bbc2b7 30%, #b7c2bc 70%) !important;
}

.loempia_nocover.o_apps_category_project {
    background: linear-gradient(-15deg, #b7c2b7 30%, #b7c2bf 70%) !important;
}

.loempia_nocover.o_apps_category_purchases {
    background: linear-gradient(-15deg, #b7c2bb 30%, #b7c1c2 70%) !important;
}

.loempia_nocover.o_apps_category_sales {
    background: linear-gradient(-15deg, #b7c2be 30%, #b7bdc2 70%) !important;
}

.loempia_nocover.o_apps_category_productivity {
    background: linear-gradient(-15deg, #b7c2c2 30%, #b7bac2 70%) !important;
}

.loempia_nocover.o_apps_category_discuss {
    background: linear-gradient(-15deg, #b7bec2 30%, #b8b7c2 70%) !important;
}

.loempia_nocover.o_apps_category_warehouse {
    background: linear-gradient(-15deg, #b7bbc2 30%, #bcb7c2 70%) !important;
}

.loempia_nocover.o_apps_category_website {
    background: linear-gradient(-15deg, #b7b7c2 30%, #bfb7c2 70%) !important;
}

.loempia_nocover.o_apps_category_marketing {
    background: linear-gradient(-15deg, #bbb7c2 30%, #c2b7c1 70%) !important;
}

.loempia_nocover.o_apps_category_point_of_sale {
    background: linear-gradient(-15deg, #beb7c2 30%, #c2b7bd 70%) !important;
}

.loempia_nocover.o_apps_category_manufacturing {
    background: linear-gradient(-15deg, #c2b7c2 30%, #c2b7ba 70%) !important;
}

.loempia_nocover.o_apps_category_theme {
    background: linear-gradient(-15deg, #b7c2c2 30%, #b7bac2 70%) !important;
}

@media (prefers-reduced-motion: reduce) {
    .loempia_app_entry .loempia_panel_summary {
        transition: none;
    }
}

@media (min-width: 1200px) {
    .loempia_app_entry .loempia_app_entry_icon {
        width: 48px;
        height: 48px;
    }
}

@media screen and (-webkit-device-pixel-ratio: 1) and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .loempia_app_card:hover>a {
        transform: scale(1) translateY(-0.5%);
        text-decoration: none;
    }

    .loempia_theme_card .loempia_app_entry_top:hover {
        transform: scale(1) translateY(-0.5%);
    }
}

@media (max-width: 767.98px) {
    .loempia_theme_card .loempia_app_entry_top.loempia_cover {
        padding-top: calc(50% + 21px);
    }

    .loempia_theme_card .loempia_app_entry_top.loempia_nocover {
        padding-top: calc(50% + 21px);
    }
}

.loempia_tags {
    letter-spacing: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 0.75rem;
    line-height: 1.5;
}

.loempia_tags .fa {
    margin-left: 10px;
    color: #002b53;
}

.loempia_tags .badge,
.loempia_tags .label {
    padding: 0.5em 1em;
    font-size: 10px;
    border-radius: 0.25rem;
}

.knk_app_details_main .apps_page {
    padding-top: 50px;
}

.knk_app_details_main .loempia_app_cover {
    padding-bottom: 50%;
    background: no-repeat center;
    background-size: cover;
    background-image: linear-gradient(-15deg, #c2b7be 0%, #c2b8b7 100%) !important;
}

.knk_app_details_main .loempia_app_table.table tr>td {
    padding-left: 0;
}
